<section id="home" class="min-h-screen flex items-center bg-zinc-950 px-6 lg:px-16">
    <div class="max-w-4xl w-full mx-auto">
        <div class="space-y-4 fade-up">
            <div>
                <span class="text-base sm:text-lg md:text-xl font-mono text-gray-400">{{hero.greeting|safe}}</span>
                <h1 class="text-4xl sm:text-5xl md:text-7xl font-bold font-mono leading-tight mt-2">{{hero.full_name|safe}}</h1>
                <h2 class="text-3xl sm:text-4xl md:text-5xl font-bold font-mono leading-tight text-gray-400 mt-2">{{hero.title|safe}}</h2>
            </div>
            <p class="text-base sm:text-lg md:text-xl text-gray-400 max-w-xl">
                {{hero.bio|safe}}</p>
            <div class="flex flex-wrap gap-4 pt-6">
                <a href="#About" class="btn-primary">Sobre mim</a>
                <a href="#contact" class="btn-secondary">Contate-me</a>
            </div>
        </div>
    </div>
</section>
