
{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="{{metadata.description}}">
    <meta name="keywords" content="{{metadata.keywords}}">
    <meta name="author" content="{{hero.full_name}}">
    <meta name="robots" content="index, follow">
    <title>{{metadata.title}}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Space+Mono:wght@400;700&display=swap" rel="stylesheet">
    <link href="{% static 'css/tailwind.css' %}" rel="stylesheet">
    <script src="{% static 'js/tailwind.js' %}"></script>
    <script type="application/ld+json">
        {
        "@context": "https://schema.org",
        "@type": "Person",
        "name": "Matheus Braga",
        "url": "https://matheusbraga.dev",
        "jobTitle": "Desenvolvedor Python/Django",
        "sameAs": [
            "https://github.com/matheuskdev",
            "https://linkedin.com/in/matheusguilherme.kp"
        ],
        "worksFor": {
            "@type": "Organization",
            "name": "Hospital Maria Lucinda"
        }
        }
</script>
</head>

<body class="h-full bg-gray-100 dark:bg-gray-900 text-gray-900 dark:text-white">
    <div class="flex min-h-full flex-col">
    {% include "main/sidebar.html" %}
    <main class="lg:ml-20 flex-grow flex flex-col">
        {% block main %}{% endblock main %}
        {% include "main/footer.html" %}
    </main>
    </div>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
