{% extends "two_factor/_base_focus.html" %}
{% load i18n %}
{% load two_factor_tags %}

{% block extra_media %}
  {{ form.media }}
{% endblock %}

{% block content %}
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <!-- <img src="https://tailwindcss.com/plus-assets/img/logos/mark.svg?color=indigo&shade=500" alt="MatheusBraga.dev" class="mx-auto h-10 w-auto" /> -->
    <h2 class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-white">{% block title %}Login MB{% endblock %}</h2>
  </div>


  {% if wizard.steps.current == 'auth' %}
  {% elif wizard.steps.current == 'token' %}
    <p>{{ device|as_verbose_action }}</p>
  {% elif wizard.steps.current == 'backup' %}
    <p>
Use este formulário para inserir tokens de backup para login.
Esses tokens foram gerados para você imprimir e guardar em segurança. Por favor,
insira um desses tokens de backup para acessar sua conta.</p>
  {% endif %}

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form action="" method="post" class="space-y-6">
    {% block main_form_content %}
    {% csrf_token %}
    {% include "two_factor/_wizard_forms.html" %}

    {# hidden submit button to enable [enter] key #}
    <input type="submit" value="" hidden />

    {% if other_devices %}
      <p>Ou, alternativamente, use um dos seus outros métodos de autenticação:"</p>
      <p>
        {% for other in other_devices %}
        <button name="challenge_device" value="{{ other.persistent_id }}"
                class="btn btn-secondary btn-block" type="submit">
          {{ other|as_action }}
        </button>
      {% endfor %}
    </p>
    {% endif %}

    {% include "two_factor/_wizard_actions.html" %}
    {% endblock %}
  </form>

  {% block 'backup_tokens' %}
    {% if backup_tokens %}
       <hr>
       <div class="backup_tokens_form">
       <form action="" method="post">
           {% csrf_token %}
            <p>Como último recurso, você pode usar um token de backup:</p>
            <p>
                <button name="wizard_goto_step" type="submit" value="backup"
                    class="btn btn-sm btn-secondary btn-block">Usar token de backup</button>
            </p>
       </form>
       </div>
    {% endif %}
  {% endblock %}
  </div>
{% endblock %}
